// ----- variables
body {
	--body-left-edge: #{$ms-dn-3};

	@media (min-width: $bp-small-min) {
		--body-left-edge: #{$ms-dn-2};
	}
}

main {
	--margin-right: auto;
	--padding: #{$ms-base};

	@media (min-width: $bp-med-min) {
		--padding: #{$ms-up-1} #{$ms-up-2}
	}
	
	@media (min-width: $bp-large-min) {
		--margin-right: #{$right-banner-width};
		--padding: #{$ms-up-2} #{$ms-up-4};
	}

}


// ----- styles


*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0 0 0 var(--body-left-edge);
	display: flex;
	flex-direction: column;
	background-color: var(--bgcolor);
	overflow-y: scroll;
	min-height: 100%;

	&::before {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		width: var(--body-left-edge);
		background: linear-gradient(to bottom, $teal-base, $indigo-base, $violet-base)
	}
}

main {
	padding: var(--padding);
	flex: 1 0 auto;
	max-width: 70ch;
	margin-right: var(--margin-right);
}