html {
	font-family: $basefont-family;
	font-size: $basefont-size;
	line-height: $basefont-line-height;
}

a {
	color: $a-color;
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: $headingfont-family;
}