---
title: Colophon
---

h1 #{title}

p This, my personal website, is in its 5th (I think?) iteration at this domain since 2010, following various editions before that. 
p This version is built with #[a(href='11ty.io') Eleventy] and is hosted on Github and deployed via #[a(href='netlify.com') Netlify]. The fonts used are Quando and Open Sans.

h2 Personal site history
ul
	li A simple, completely static and responsive holding page with contact info.
	li A digital portfolio built on Wordpress, mostly showcasing some of my dev projects and photography.
	li Another Joomla! built site to display portraits and photo galleries, with a completely-from-scratch template featuring an asymmetrical design.
	li Used mainly to display proofs and sell prints while I did some equestrian photography, and a weak attempt at blogging. Built with: Joomla!, PhocaGallery, PayPal.
	li A commercial site used to display my commissioned animal portraits, and generate new business. Hosted on Angelfire, hand-coded HTML, before CSS was a thing. 
	li A personal site on Angelfire full of teenage banalities and a cool starry background. I didn't use all the crazy gifs, but probably at least one #[code #[a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee') <marquee>]], and I was sad that I never mastered frames.