<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ meta.site.description }}">
	<meta name="keywords" content="{{ meta.site.keywords | join(',') }}">
	<meta property="og:title" content="{{ meta.og.title }}">
	<meta property="og:url" content="{{ meta.og.url }}">
	<meta property="og:description" content="{{ meta.og.description }}">
	<meta property="og:image" content="{{ meta.og.image }}">
	<meta property="twitter:title" content="{{ meta.twitter.title }}">
	<meta property="twitter:description" content="{{ meta.twitter.description }}">
	<meta property="twitter:image" content="{{ meta.twitter.image }}">
	<meta property="twitter:card" content="{{ meta.twitter.card }}">

	<link rel="stylesheet" href="/css/styles.css">

	<title>
		{% if title %}
			{{ title }} | 
		{% endif %}
			{{ meta.site.title }}
	</title>
</head>

<body>

	{% include partials/header.html %}

	<main>
		{{content}}
	</main>

	{% include partials/footer.html %}
	
</body>
</html>