.site-banner {
	padding: $ms-base;
	display: flex;
}

.logo-wrapper {
	max-width: 15em;
	position: relative;
}

.site-logo {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	max-width: 60%;
	opacity: 0.4;
}

.home-link {
	display: block;
	position: relative;
	top: 25%;
}

.site-logotype {
	top: 50%;
	display: inline-block;
	max-width: 100%;
}

.site-nav {
	flex: 1;
}

.main-nav-list {
	@include unstyled-list;
	flex: 1;
	text-align: right;
	
	a {
		color: #000;
		white-space: nowrap;
	}
}

.current-page {
	font-weight: bold;
}



@media (min-width: $bp-large-min) {
	.site-banner {
		width: $right-banner-width;
		max-width: $right-banner-max-width;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		flex-direction: column-reverse;
	}

	.logo-wrapper {
		position: absolute;
		right: 0;
	}
}