:root {
	
}


///// BREAKPOINTS
$small: 30em;
$small-up: $small + 1em;
$medium: 45em;
$medium-up: $medium + 1em;
$large: 60em;
$large-up: $large + 1em;


///// PALETTE
$dark-teal: hsl(192,100%,24%);
$code-bgcolor: #777;
$code-color: #ccc;

$color-accent: indigo;


///// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quando');
$basefont-family: 'Open Sans', sans-serif;
$basefont-size: 120%;
$basefont-line-height: 1.5;

$headingfont-family: 'Quando', serif;

$a-color: $dark-teal;

$code-padding: 5px;


///// LAYOUT
$body-bg: hsl(220, 10%, 85%);

$base-space: 1rem;

$right-banner-width: 30%;
$right-banner-max-width: 30em;


// SPACING
$base-space: 1em;
$small-space: $base-space / 2;