:root {
	--bgcolor: hsl(222, 11%, 83%);
	--urlcolor: hsl(192,100%,24%);
}


///// BREAKPOINTS
$small: 30em;
$small-up: $small + 1em;
$medium: 45em;
$medium-up: $medium + 1em;
$large: 60em;
$large-up: $large + 1em;


///// PALETTE
$dark-teal: hsl(192,100%,24%);
$code-bgcolor: #777;
$code-color: #ccc;

$color-accent: indigo;


///// TYPOGRAPHY
@font-face {
	font-family: 'Latina Essential Light';
	src: url('../fonts/LatinaEssential-Light.eot') format('embedded-opentype'),
			 url('../fonts/LatinaEssential-Light.woff2') format('woff2'),
			 url('../fonts/LatinaEssential-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Quando';
  src: local('Quando-Regular'), url(https://fonts.gstatic.com/s/quando/v7/xMQVuFNaVa6YuW0ZDK-y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-style: normal;
  font-weight: 400;
}

$basefont-family: 'Latina Essential Light', sans-serif;
$basefont-size: 120%;
$basefont-line-height: 1.5;

$headingfont-family: 'Quando', serif;

$a-color: var(--urlcolor);

$code-padding: 5px;


///// LAYOUT
$body-bg: var(--bgcolor);

$base-space: 1rem;

$right-banner-width: 30%;
$right-banner-max-width: 30em;


// SPACING
$base-space: 1em;
$small-space: $base-space / 2;