// STATIC (SASS) VARIABLES 
// -----------------------------------------------------------------

// BREAKPOINTS
$bp-tiny-max: 350px;
$bp-small-min: $bp-tiny-max + 1px;

$bp-small-max: 500px;
$bp-med-min: $bp-small-max + 1px;

$bp-med-max: 800px;
$bp-large-min: $bp-med-max + 1px;

$bp-large-max: 1200px;
$bp-huge-min: $bp-large-max + 1px;


// MODULAR SCALE
$ms-base: 1em;
$ms-ratio: 1.33;

$ms-up-1: $ms-base * $ms-ratio;
$ms-up-2: $ms-up-1 * $ms-ratio;
$ms-up-3: $ms-up-2 * $ms-ratio;
$ms-up-4: $ms-up-3 * $ms-ratio;
$ms-up-5: $ms-up-4 * $ms-ratio;

$ms-dn-1: $ms-base / $ms-ratio;
$ms-dn-2: $ms-dn-1 / $ms-ratio;
$ms-dn-3: $ms-dn-2 / $ms-ratio;
$ms-dn-4: $ms-dn-3 / $ms-ratio;
$ms-dn-5: $ms-dn-4 / $ms-ratio;



// PALETTE

$teal-dark-3: #04232B;
$teal-dark-2: #0E3640;
$teal-dark-1: #1F5361;
$teal-base: #397382;
$teal-light-1: #5B97A7;
$teal-light-2: #8AC1D1;
$teal-light-3: #C5F2FF;

$indigo-dark-3: #08052E;
$indigo-dark-2: #130E42;
$indigo-dark-1: #271E61;
$indigo-base: #423681;
$indigo-light-1: #6758A8;
$indigo-light-2: #9281CE;
$indigo-light-3: #CBBAFF;

$violet-dark-3: #14011C;
$violet-dark-2: #280932;
$violet-dark-1: #401648;
$violet-base: #5C2B61;
$violet-light-1: #8E528F;
$violet-light-2: #C288BF;
$violet-light-3: #F7CEF2;

$grey-dark-4: #17181B;
$grey-dark-3: #1D1F22;
$grey-dark-2: #2B2D32;
$grey-dark-1: #404147;
$grey-base: #5D5E67;
$grey-light-1: #7E7F88;
$grey-light-2: #A7A6B0;
$grey-light-3: #CECED6;
$grey-light-4: #F4F3F8;
$grey-light-5: lighten($grey-light-4, 50%);


// TYPOGRAPHY
@font-face {
	font-family: 'Latina Essential Light';
	src: url('../fonts/LatinaEssential-Light.eot') format('embedded-opentype'),
			 url('../fonts/LatinaEssential-Light.woff2') format('woff2'),
			 url('../fonts/LatinaEssential-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Latina Essential Light';
	src: url('../fonts/LatinaEssential-LightIt.eot') format('embedded-opentype'),
			 url('../fonts/LatinaEssential-LightIt.woff2') format('woff2'),
			 url('../fonts/LatinaEssential-LightIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: 'Quando';
  src: local('Quando-Regular'), url(https://fonts.gstatic.com/s/quando/v7/xMQVuFNaVa6YuW0ZDK-y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-style: normal;
  font-weight: 400;
}

$basefont-family: 'Latina Essential Light', sans-serif;
$headingfont-family: 'Quando', serif;

$highlight: $teal-light-3;

$code-bgcolor: $teal-dark-3;
$code-color: $teal-light-2;


///// LAYOUT
$body-bgcolor: $grey-light-4;

$right-banner-width: 30%;
$right-banner-max-width: 30em;



// DYNAMIC (CSS) VARIABLES 
// -----------------------------------------------------------------
:root {
	// colors
	--bgcolor: #{$body-bgcolor};

	// typography
	--font-size: 100%;
	--line-height: 1.5;
	--link-color: #{$teal-base};
	--link-hover-color: #{$teal-dark-2};

	@media (min-width: $bp-tiny-max) {
		--font-size: 110%;
	}

	@media (min-width: $bp-small-max) {
		--font-size: 120%;
	}
}