.projects-list {
	@include unstyled-list;

	a {
		white-space: nowrap;
		margin-right: $ms-base;
	}
}

.project-stub {
	padding: $ms-base;
	margin-top: 3 * $ms-up-4;

	img {
		max-height: 20em;
		margin: 0 auto;
	}

	h2 {
		display: inline-block;
		margin-bottom: 0;
	}

	.tech {
		@include unstyled-list;
		display: inline;
		font-variant: all-small-caps;

		li {
			display: inline-block;
			white-space: nowrap;
			margin-right: $ms-dn-3;
		}
	}
}

.project-date {
	color: $grey-dark-1;
}

.project-stub-footer {
}
