<header class="site-banner" role="banner">

	<div class="logo-wrapper">
		<img src="{{helpers.siteUrl}}/img/5-set-venn.svg" alt="" class="site-logo">
		<a href="/" class="home-link">
			<img src="{{helpers.siteUrl}}/img/sylvia-villegas-creative.png" title="Go to Home Page" class="site-logotype">
		</a>
	</div>
	
	<nav class="site-nav" aria-label="Main Menu">
		<ul class="main-nav-list">
			{%- for link in menu -%}
			<li>
				{%- if page.url == link.url -%}
					<a href="#main" class="current-page" aria-current="page" title="{{link.title}}">
				{%- else -%}
					<a href="{{link.url}}" title="{{link.title}}">
				{%- endif -%}
					{{ link.name }}
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</nav>

</header>