<header class="site-banner" role="banner">
	<nav class="site-nav">
		<a href="/" class="home-link" title="Back to home">
			<img src="{{helpers.siteUrl}}/img/sylvia-villegas-creative.png" alt="Home" class="site-logotype">
		</a>

		<ul class="main-nav">
			{%- for link in menu -%}
			<li>
				<a href="
					{% if page.url == link.url %}
						#main
					{% else %}
						{{link.url}}
					{% endif %}" 
					class="
					{% if page.url == link.url %}
						current-page
					{% endif %}">
					{{ link.name }}
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</nav>

</header>