---
title: In defense of nitpickers – it's because we care
date: 2015-12-07
---

h1 In defense of nitpickers – it's because we care

p Every now and then, a word mysteriously swims out of the depths of my vocabulary storage and into my conscious mind, and makes its presence well known. Sometimes I just wake up with it, and it stays in the forefront of my mind, jumping into every thought, inexplicable and inescapable, taunting me like the white rabbit to follow it to some great discovery.

p Recently, it was not while awakening from slumber that a word joined me, but rather while considering descriptors that I and others might use to characterize myself. Many nouns and adjectives flowed in and out of my mind, until 'nitpicking' appeared and grabbed hold.

p I was surprised, uncomfortable. It didn't seem a pleasant word at all, but it wouldn't let go.

p Throughout the day I mulled it over. I deconstructed the noun, nitpicker: the picker of nits. I was driven, as I often am in these cases, to verify its recorded definition(s) and origins, and to compare these with my understanding and impressions of the word. A cursory online search yielded the following:

blockquote 
	dt nit–picking
	dd #[i noun] nit–pick·ing \ˈnit-ˌpi-kiŋ\: minute and usually unjustified criticism
	cite &mdash;Merriam Webster Dictionary, #[a(href="http://www.merriam-webster.com/dictionary/nit-picking")]

blockquote
	dt nit·pick (nĭt′pĭk′)
	dd v. nit·picked, nit·pick·ing, nit·picks. [nit′pick′er n.]
	dd v.intr. To be concerned with or find fault with insignificant details.
	dd v.tr. To criticize or find fault with (someone or something) in a petty way.
	cite &mdash;American Heritage® Dictionary of the English Language, Fifth Edition. Copyright © 2011 by Houghton Mifflin Harcourt Publishing Company. Published by Houghton Mifflin Harcourt Publishing Company. All rights reserved.

blockquote
	dt nit-picking
	dd n. a concern with insignificant details, esp with the intention of finding fault
	dd adj. showing such a concern; fussy
	cite &mdash;Collins English Dictionary – Complete and Unabridged © HarperCollins Publishers 1991, 1994, 1998, 2000, 2003

p By these definitions, my gut response was right: nitpicking is unpleasant, and nitpickers not well liked. I suppose that's understandable, if you consider the discomfort and shame of carrying lice, and the tedious process of being deloused by hand. We're lucky to have decreased incidence of head lice, and not to have to go through such painstaking measures to be rid of them in the rare cases they do present themselves.

p Still, I can't help but feel some pity, some indignation at the misdirected stigmatization associated with the word. Surely, if lice are a sign of poor hygiene, it is the bearer of such critters who would be popularly frowned upon, not the remover. The picker would be taking great pains to meticulously pore over the victim's scalp, checking the base of every hair for those nits, those sticky little louse eggs. I think one would have to trust that this picker was a very careful and caring person, taking such measures to ensure the improved follicular health of the afflicted individual. This task would have to be placed in the hands of a very patient, observant, and attentive person.

p Somehow all of these important and valuable skills of the nitpicker #[a(href="http://www.worldwidewords.org/qa/qa-nit1.htm" target="_blank") have been forgotten].

p We've lost the collective memory of what this laborious task entailed, now that a case of lice is efficiently and impersonally resolved by a chemical shampoo. The thought of subjecting anyone to more intense scrutiny seems not only primitive, but unjust and completely uncalled for. "Why would you do that to someone?", we might cry.  It's as if, in an effort to avoid further victimizing the louse-bearer, we've turned the tables on his caretaker. Perhaps it's just a more compelling story to sympathize with the aggrieved, now subjected to embarrassing treatment on top of his original condition, and cast the picker as a heartless tormentor.

p Yes, the treatment of hand-picking louse nits is, indeed, primitive, but it is far from torment. In our closest living relatives, investing time scrutinizing your neighbour's hair and skin is still considered a kindness. Carefully poring through each others' coats and removing parasites and other foreign matter is an act of social bonding, shown to #[a(href="https://www.mpg.de/6858847/oxytocin-social-grooming" target="_blank") release oxytocin and strengthen relationships] among primates.

p To be fair, verbal criticism now associated with the term "nitpicking" doesn't have the soothing, comforting effect for the recipient as the gentle massaging strokes of its tactile counterpart and eponym. However, there are many important parallels that make it, arguably, still an act of social grooming: you must be very observant and attentive to do it; thus, you don't don't do it unless you care about someone; you do it to help with the places and things that they themselves can't see or reach; and ultimately, you do it to make them better.

p Perhaps, with this in mind, we can tame some of the strong negative connotations with the word "nitpicking", and start to think of nitpickers less as people who are looking for ways to belittle you, and more like the caring friend who says "Oh, hang on, you have a fluff in your hair," and gently plucks it out.

p So, here's to picking your nits, friend.