---
title: It's okay to write in books, if you're adding to the conversation
date: 2016-02-15
---

h1 It's okay to write in books, if you're adding to the conversation

p I used to have a reverent respect for printed books. As we do for so many of our favourite things, I always did my best to keep them in that perfect, like-new condition. Beyond the oft-repeated (and oft-ignored) pleas of our grade school teachers to "be nice" to our communal schoolbooks, I clearly remember my grade 9 English teacher expounding on the deep admiration with which books should be treated as she handed out copies of Julius Caesar. I nodded along in silent agreement: I hated dog-eared pages and cracked spines, and I wouldn't dream of marking up pages in any way. So, why do I now make a point of keeping a pen in hand when I bury myself in a new tome?

p I always took orderly notes in high school. I was meticulous about it, but also creative, as I called upon a range of coloured pens &mdash; even, in one phase, fine-point Crayola markers &mdash; and used different 'fonts' and adornments to make titles, headings, and important points stand out. I writhed at the creative oppression of one French teacher who #[em insisted] we write exclusively in blue pen and underline (with a ruler!) only in red; she did notebook checks to make sure.

p I continued this way through college, though now we weren't copying notes verbatim as delivered via projected overhead or chalkboard. Having to draw important information from the lecturing instructor myself and jot it down quickly, I didn't have time to arrange and embellish the notes as I wanted to. Instead, I took time in the evening to re-write them just the way I wanted.

p What I was after was that perfectly ordered, structured, and systematized laying out of information. I needed things to be categorized and grouped appropriately, with all common points together under similar headings and sub-headings, broken down into neat lists with clear definitions, and tidy diagrams where appropriate. In some way, I was trying to recreate the tidy architecture and delivery of a textbook, as if it would help me to file the concepts just as neatly in my mind.

figure
	img(src="http://localhost/svwp/wp-content/uploads/IMG_5048-300x224.jpg" alt="Spread out sheets of school notes.") 
	figcaption Colourful, structured, tidy recopied notes. Blissful order!

p Though I followed a common frugal strategy in buying used textbooks, I made a point of inspecting them to ensure no one had marked them up with screaming yellow highlighters or other 'offensive' marks. Not only did all those scribbles and lines stain the venerated copy, it was also immensely distracting. I never understood the way so many people use highlighters over entire lines, or even paragraphs (!), of text, negating the entire point of highlighting.

p Having apparently established my best personal system for studying and learning new class material, I tried to keep up these practices when I next went on to university. It worked, for awhile... until university did what it was supposed to do and started to change the way I think about things, the depth with which I consider new ideas, and how I respond to and process new information.

h2 A new way to learn

p Up to that point, school had always been painfully easy for me. Retaining and regurgitating bits of information was no great feat; after I had spent time organizing it all so neatly, it was easy to spell it all out again as expected on tests and exams. Anything that was new and interesting to me, I also stored in my own brain for later use. Before university, I didn't feel I had ever really been encouraged to really #[em think for myself] about anything that interested me, despite being in "gifted" and "enhanced" classroom programs.

p Now I was not only directing my own course of study (finally!), but I was being asked to investigate and write about the #[em current state] of knowledge on a particular topic. I was introduced and granted access to the world of peer-reviewed literature, and suddenly science revealed itself as a huge, live entity, growing and changing all of the time as new information came to light. Science wasn't just a tidy list of centuries-old facts and figures laid out in neat order to be remembered and repeated, with a bright frontier of new discoveries in fancy laboratories beyond my reach; it was, in fact, a miasma of new findings that were actively being presented, discussed, interpreted, misinterpreted, even argued over, and I was being invited to join in on the fun!

h2 Shifting strategies

p I hadn't realized that I needed to actively change some aspects of my studying and note-taking style, until I was working on a group project with a good friend of mine, and got a look at his notes. Yes, they were messier than I cared for, but there were also some doodles, diagrams, arrows, and lists, all illustrating things that he'd worked out as he considered the course material, and how different concepts and ideas were related. It represented not only the information that we had been presented, but also his thought process as he reviewed it. He described it as being more "organic" than my rigid style, so insistent on perfect tidiness, and that stuck with me.

figure
	img(src="http://localhost/svwp/wp-content/uploads/IMG_5050-1024x765.jpg" alt="Notes in the margins of a printed scholarly journal article.") 
	figcaption Annotating printed journal articles soon led to writing, highlighting, and even colouring in textbooks, as I discovered the benefits of interacting with the material.

p I soon found myself underlining and writing in the margins of journal articles, making notes to remind myself of related articles and other connected concepts or ideas as I worked on my own essays and research papers. Perhaps it was because these were just printouts of PDFs rather than sacred, published (and paid-for!) books, but I allowed myself to let go and mark them up, embracing the process of thinking on paper alongside the text, recording my own thoughts and insights. I even started doing the same in the generous margins of my textbooks, albeit more neatly, as per previous habits.

h2 Interacting with print

p As I described this process recently while chatting with my sister-in-law, a middle school guidance counsellor, she mentioned that at one time while teaching, she'd encouraged students to mark up a text they were reading in exactly this manner. She told them she wouldn't be marking them on it and there weren't any right or wrong answers, but rather she wanted to see how they thought about the text they were reading, and how they interacted with it.

p Well, that's interesting. Now more than ever, with all kinds of high-tech, handheld, smart-things, it's hard to think of plain ol' printed text as something "interactive", but it turns out it is, indeed, possible to extract a meaningful, personal experience from reading that goes beyond merely absorbing information as it's laid out. By writing notes in margins, underlining, or otherwise marking text, you can connect ideas in the written lines with concept nodes in your mind. I imagine that by actively tying new information into neural networks of your memory like this, you must actually process information more deeply and encode it more securely.

figure 
	img(src="http://localhost/svwp/wp-content/uploads/IMG_5054-1024x765.jpg" alt="Handwritten notes alongside a coloured-in diagram in a textbook.") 
	figcaption Rather than soiling them, as I once perceived it, writing in my books actually served to enrich the content, and deepen my understanding of it.

p Writing in books and next to other text certainly helped me in synthesizing information from multiple sources when researching and writing papers in university, and I've since decided to maintain this practice whenever I read my own (nonfiction) books for personal interest. I still treat my books gently, protecting their spines and keeping their pages smooth, but I don't mind having a little conversation with them, and leaving thoughts and notes for myself to find again in future readings.

h2 Mark or preserve?

p Do you annotate or highlight information in books, or prefer to keep them pristine? What tools have you found for drawing out information from printed material, synthesizing ideas from multiple sources, or keeping track of disparate ideas to retrieve them later?