---
title: About me
layout: default
---

h1 Hi, I’m sylvia villegas.

p I am a primarily front-end developer from Toronto, working at a small development agency where I actually do so much more. I put together my design thinking, my eye for detail, my user empathy, my analytical mind, and my creative problem solving skills every day to help my team build awesome solutions that help businesses catalyze their growth, and #[em that’s pretty cool].

h2 The Web
p Web development is a long-time, self-taught hobby I finally turned into a career. It is deeply satisfying to create the right solutions and improve online experiences, and so empowering to turn an idea into reality. If you have an online project that you want to get off the ground, or even a current website that needs nurturing, feel free to #[a(href='/contact') get in touch] and maybe #[a(href='/web') we can work together].
a.cta-link(href='/web') Learn more #[span.visually-hidden about what I do on the Web]

h2 The Horses
p It’s true, many people associate me with horses. I’ve been riding for most of my life and have spent many years working with horses and riders, from beginner children at riding schools to professional showjumpers at international Grand Prix competitions across Canada and the US. I still offer top-tier #[a(href='/equine') grooming services] to discerning horse owners, and love learning and sharing horse care tips.
a.cta-link(href='/equine') Learn more #[span.visually-hidden about what I do with horses]

h2 The Rest
ul
	li I have a college diploma in Equine Studies, and a Bachelor's Degree in zoology and psychology from the University of Guelph, so you could say I like animals. I'm mostly fasinated by evolutionary adaptation and animal cognition.
	li I love to travel, but don't get to do it much lately. Some memorable trips include conducting field research in Tanzania, crashing a honeymoon to the Galapagos, and listening to howler monkeys (#[i #[a.link_external(href='https://animaldiversity.org/accounts/Alouatta/classification/' title='Learn more about howler monkeys on Animal Diversity Web!') Alouatta sp. ]]) from the top of a Mayan pyramid at dawn.
	li I used to draw animal portraits by commission &mdash; mostly dogs, horses, and cats. People always ask me why I don't anymore and I, uh... don't really have a good answer.
	li I love hiking, backpacking, camping, canoeing, climbing, and other outdoor activities.
	li I once trained American mink (#[i #[a.link_external(href="https://animaldiversity.org/accounts/Neovison_vison/" title="Learn more about mink on Animal Diversity Web!") Mustela vison]]) in a discrimination task in an apparatus I designed and built myself. They like hot dogs. And maracas.

#colophon
h2 About this site
p This website (#[a(href='/') svillegas.com]) is &mdash; as is the case for most developers' and designers' sites &mdash; under constant revision. This is the 5th edition since 2010.
p This incarnation was built with #[a.link_external(href='https://github.com/11ty/eleventy') Eleventy].