---
layout: default
title: Colophon
---

article 
	header.page-header
		h1= title
		p This, my personal website, has seen at least 5 incarnations at this domain since 2010, and &mdash; like so many developer projects &mdash; is under constant iteration and never seems to be complete. Below are some technical details and general nerdery about this website.

	h2 Design
	p The completely responsive design is entirely my own, handcrafted within the code, amid excruciating indecision and paralyzing doubt.
	p The colour palette was eventually settled with the help of #[a(href="https://palettte.app/") Palettte App].
	p Heading fonts are #[b Quando], by #[a(href="http://www.joanacorreiatype.com") Joana Correia], and body type is set in #[b Latina Essential Light], by #[a(href="http://www.latinotype.com") Latinotype]. Both have a soft, rounded character that I love, and glyphs that complement each other well. Font in the logotype is my own handwriting (along with Quando).
	p The logo itself is a 5-set Venn diagram, because I love Venn diagrams, pentameric design, rotational symmetry, ellipses, and the intersections and unions of my diverse and nerdy interests.

	h2 Development
	p The current iteration is built with #[a(href='http://11ty.io') Eleventy], with the help of #[a(href="https://gulpjs.com/") Gulp], as I wanted a straightforward static site generator that put me in the driver's seat. It was hand-coded in accessible, semantic, standards-compliant HTML5 (authored with #[a(href="https://pugjs.org/") Pug] and #[a(href="https://shopify.github.io/liquid/") Liquid]) and CSS3 (via SCSS) in #[a(href="https://code.visualstudio.com/") VS Code].

	h2 Deployment
	p The repository is hosted on #[a(href="https://github.com/svillegascreative/svillegas-11") Github], and deployed via #[a(href='https://netlify.com') Netlify]. Images hosted on #[a(href="https://cloudinary.com") Cloudinary] and delivered quickly and responsively to you via their fine #[abbr(title="Content Delivery Network") CDN].

	h2 Accessibility
	p Accessibility and inclusivity have been a top priority throughout the development of this site, so I try to follow web standards and best practices, to write semantic and valid HTML, progressively styled and enhanced. Care has been taken to ensure type contrast levels meeting at least #[a(href="https://www.w3.org/TR/WCAG20/") WCAG 2.0 AA] specifications, and ensure the entire website is usable via keyboard and assistive technologies.

	h2 History
	ul
		li A simple, completely static and responsive holding page with contact info.
		li A digital portfolio built on Wordpress, mostly showcasing some of my dev projects and photography.
		li Another Joomla! built site to display portraits and photo galleries, with a completely-from-scratch template featuring an asymmetrical design.
		li Used mainly to display proofs and sell prints while I did some equestrian photography, and a weak attempt at blogging. Built with: Joomla!, PhocaGallery, PayPal.
		li A commercial site used to display my commissioned animal portraits, and generate new business. Hosted on Angelfire, hand-coded HTML, before CSS was a thing. 
		li A personal site on Angelfire full of teenage banalities and a cool starry background. I didn't use all the crazy gifs, but probably at least one #[code #[a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee') #{'<marquee>'}]], and I was sad that I never mastered #[code #{'<frame>'}]s.