---
title: 'Get in Touch!'
layout: default
---

h1 Get in Touch!
p If you're interested in working together, hiring me for #[a(href='/web') web development] or #[a(href='/equine') equine services], or just want to know more about me, please feel free to get in touch by any means below.
ul
	li #[b Email:] #[a(href='mailto:sylvia@svillegas.com' title="Send me an email...") sylvia@svillegas.com] <br/>
	| I should get back to you within a day or two, most of the time.
	li #[b Twitter:] #[a(href='https://twitter.com/svillegastweets' title="Check out my Twitter feed...") @svillegastweets]<br />
	| I tweet lots of dev stuff, and some other nerdy things.
	li #[b Instagram:] #[a(href='https://instagram.com/zoophoria' title="Check out my Instagram pics") @zoophoria]<br />
	| Mostly pics of my dog and horse, and some travel and adventures.