---
title: Equine Services
layout: default
---

p Dedicated equestrians take pride in our horses. We put in the work, the sweat, the tears -- oh, and let’s not forget the money -- to provide our horses with the very best care. Having groomed horses professionally, from amateur mounts to champion A-Circuit hunters and International Grand Prix showjumpers, nothing brings me greater pleasure than making horses look and feel their best. 

p I am available for clipping, trimming, mane pulling, and braiding year ‘round, and would love to make your horse feel like a winner.
