---
date: 2018-01-01

title: Barn Genius

projectDate: 2015 - 2018

type: web

tech:
  - Joomla!
  - MySQL
  - FontAwesome

description: A site for clever equestrians, with completely bespoke design, illustrations, and articles was a pet project to share clever "hacks" for equestrians. The site has been taken down until I find financial incentive to host and maintain it.

image: https://res.cloudinary.com/svillegas/image/upload/v1546297656/svillegas-com/barngenius-views.png

---



h1= title

p A pet project launched in 2015, Barn Genius! is a completely responsive <a href="http://barngenius.com">website for the clever equestrian</a>, complemented by a branded suite of social media channels (<a href="http://facebook.com/barngenius">Facebook</a>, <a href="https://twitter.com/barngenius">Twitter</a>, <a href="http://instagram.com/barngenius">Instagram</a>, and <a href="http://pinterest.com/barngenius">Pinterest</a>).

h2 The story
p As a long-time equestrian and lover of efficiency and creative solutions, I always enjoy discovering all the clever ways that horsepeople around the world solve the problems we all face, as well as those unique to a particular discipline, climate, or other challenge.

p Barn Genius! was developed as a website where I could write and a share some of the clever solutions I've come up with or learned myself through my experience in the horse industry, as well as those I've encountered on the Internet. It's a sort of <a href="http://lifehacker.com">LifeHacker</a> for equestrians, if you will. It's not just about shortcuts, however; it's about making the most of what you have, and sometimes making a small effort or investment, to get the most out of life at the barn and provide the best care for the horses without wearing ourselves out along the way.

h2 The Process
p This project was entirely conceived, designed, executed, and is currently maintained by myself. All content, including articles, photos, illustrations, logo, and social media posts, are original and my own (with the exception of some photos used with permission and/or under CC license).

p I started this project while I was only employed part-time, in an effort to practice my development skills. Having recently spent a great deal of time trying to build a much larger project that was (sadly, painfully, frustratingly) just beyond my skill at the time, I decided to quickly put together something much more straightforward.

p Barn Genius is still live and ongoing, and I am continuously picking up new tips and solutions to add, though production is somewhat slower now than it was at the start.

h2 Tools &amp; Tech
ul.tools-tech
  each t in tech
    li= t 

h2 Lessons Learned
ul
  li Perhaps obvious: it takes a lot of work to rely solely on yourself for completely original and unique content, design, graphics, editing, etc. And of course, you have no one to blame but yourself if it's not quite up to your standard!
  li It can be quite a chore to look for the right photo if you're looking for an open-licensed or free image. However, it is absolutely worthwhile to ask for permission to use copyrighted photos; you can make some neat contacts, promote your product, and gain some exposure (and genuine appreciation and respect) in the process.

h2 See it
a(href="http://barngenius.com/").see-it See it live