---
title: Barn Genius

projectDate: 2015 - 2018

type: web

tech:
  - Joomla!
  - MySQL
  - FontAwesome
  - Google Analytics
  - Google AdSense
  - Amazon Affiliates
  - AddThis

description: A site for clever equestrians, with completely bespoke design, illustrations, and articles.

image: https://res.cloudinary.com/svillegas/image/upload/v1546303725/svillegas-com/barn-genius.jpg

---