---
title: Blanket Boss

projectDate: Spring 2017

type: web

tech:
  - Ruby on Rails
  - PostgreSQL
  - Bourbon, Neat
  - AWS S3
  - jQuery
  - FontAwesome
  - animate.css

description: Some horses have lots of clothes. Some people have many horses. This little app helps manage equine wardrobes.

url: http://blanketboss.herokuapp.com

repo: https://github.com/svillegascreative/blanketboss

---