---
date: 2017-11-01

title: Compass Dinner

projectDate: 2017

tech: [HTML5, SCSS (CSS3), Javascript]

description: Single-page client website for an exclusive, invite-only dinner & discussion event series in Toronto.

url: https://compassdinner.com

image: https://res.cloudinary.com/svillegas/image/upload/v1551756264/svillegas-com/compass-dinner-views.png
---
