---
title: Compass Dinner
projectDate: Nov 2017
tech: [HTML5, SCSS (CSS3), Javascript]
description: 'Informational site for an exclusive dinner & discussion event series in Toronto.'
url: https://compassdinner.com
---
