---

title: Happy Hour

projectDate: 02/2017

type: web

tech:
  - Javascript
  - jQuery
  - FontAwesome

description: A fun and simple alcohol-themed game of Tic Tac Toe, made with JavaScript & jQuery.

url: https://codepen.io/svillegas/full/KaYKWE

repo: https://github.com/svillegascreative/tic-tac-toe

---