---

title: Plate Again

projectDate: March 2017

type: web

tech:
  - Ruby on Rails
  - PostgreSQL
  - Foundation 6
  - jQuery
  - animate.css
  - FontAwesome
  - Google Fonts
  - AWS S3
  - Google Maps
  - AddThis

description: A concept app, as a final group project during a Web Development Immersive course at Bitmaker (GA Toronto), addressing commercial food waste in the city of Toronto.

url: http://plateagain.herokuapp.com

repo: https://github.com/svillegascreative/PlateAgain

---