---
date: 2017-03-01
title: Seat Yourself
projectDate: 03/2017
tech:
  - Ruby on Rails
  - SQLite3
  - SCSS
description: A group project during a Web Development Immersive course at Bitmaker (GA Toronto), where we were tasked with recreating the functionality of the popular restaurant reservation site Open Table.
image: https://res.cloudinary.com/svillegas/image/upload/v1546297711/svillegas-com/seat-yourself-views.png
repo: https://github.com/svillegascreative/bm_seatyourself

---

p As part of a group project during a Web Development Immersive course at <a href="http://www.bitmaker.co">Bitmaker (GA Toronto),</a> we were tasked with recreating the functionality of the popular restaurant reservation site Open Table.

h2 The Process
p Having been through a complete Rails build on one assignment individually, we were asked to team up to plan, develop, build a presentable MVP in a quick sprint of 3 afternoons/evenings. As a foursome, we did all the planning (MOSCOW), data modelling, user stories, etc. together, and then broke off and mostly coded individually to get the most work done in the short time available. We did, however, always work at the same table, so that we could check in with each other regularly.

p One of our early challenges was to decide how we were going to handle the different types of users (diner vs. restaurant owner) to set up their user flows and authorize their permitted actions. After a lot of head scratching and slow progress, it wasn't until late the first evening that I had the insight to simply create a boolean value to be selected by the user upon user registration, and checked before loading relevant views. It seems so simple in retrospect, but it really was a breakthrough idea that felt so elegant and allowed us to move forward more quickly and with tidier code.

p There was no design or wireframing process in this short project; as my teammates finished up the final aspects on the back end, I tinkered with some simple Sass on the front end to tidy things up for the presentation. It was really a sprint to the finish, but having a strong detail-minded team meant we were able to tidy up a lot of loose ends and come up with a rather impressive product in time to present to our classmates and instructors.

h2 Tools &amp; Tech
ul.tools-tech
  each t in tech
    li= t

h2 Lessons Learned
ul
  li Sometimes things can proceed much differently than they feel. I was not at all confident in the state of our app come presentation time, and yet everything fell into place and it all worked perfectly when it needed to. At times it can be enough to apply the skills you have, trust in the skills of others, and hope for a little luck to fill in the rest.
  li Project management tools are only as good as the time you put into managing them. We tried Pivotal Tracker to manage our workflow, but it took a chunk of time to set up, and in the end was probably too much tool for our short project.

h2 See it
a(href="https://github.com/svillegascreative/bm_seatyourself").see-it Source