---

title: Seat Yourself

projectDate: 03/2017

tech:
  - Ruby on Rails
  - SQLite3
  - SCSS

description: A group project during a Web Development Immersive course at Bitmaker (GA Toronto), where we were tasked with recreating the functionality of the popular restaurant reservation site Open Table.

image: https://res.cloudinary.com/svillegas/image/upload/v1546303761/svillegas-com/seat-yourself.png

repo: https://github.com/svillegascreative/bm_seatyourself

---